[Unit]
Description=Run zodiac-umount script at shutdown
Requires=network.target
DefaultDependencies=no
Before=shutdown.target reboot.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStop=/usr/local/bin/zodiac-umount

[Install]
WantedBy=multi-user.target
