[Unit]
Description=Run zodiac-open script at startup.

[Service]
Type=simple
ExecStart=/usr/local/bin/zodiac-open

[Install]
WantedBy=multi-user.target
